.header {

    display: flex;
    background-color: #a41515;
    align-items: center;
    padding: 0.5rem 1rem;
}

.nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.nav ul {
    display: flex;
    gap: 1.5rem;
    /* Space between links */
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    transition: color 0.2s;
    position: relative;
}

/* Underline animation */
.nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: #F6D55C;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.nav a:hover::after {
    transform: scaleX(1);
}

.nav a:hover {
    color: #F6D55C;
    /* Gold on hover */
}